.section-abt{
    padding-top: 5em;
    display: grid;
}

.about-container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}
.about-me{
    width: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg, transparent, #4a4e69), transparent;
    display: grid;
    place-items: center;
}
.about-me img{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
}
.about-cards{
    display: flex;
    gap: 5rem;
    padding-top: 5em;
}
.about-card{
    background-color: #4a4e69;
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
    display: grid;
    place-items: center;
}
/* .about-text{
    max-width: 540px;
    padding-top: 2em;
} */