.section-abt{
    padding-top: 5em;
    display: grid;
}

.about-container{
    display: flex;
    justify-content: space-around;
}
.about-cards{
    display: flex;
    gap: 5rem;
    padding-top: 5em;
}
.about-card{
    background-color: #4a4e69;
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
}
.about-text{
    max-width: 540px;
    padding-top: 2em;
}