

.about-container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    align-items: center;
    padding-top: 4em;
}
.about-me{
    width: 100%;
    aspect-ratio: 1/1;
    background: linear-gradient(45deg, transparent, var(--color-bg-variant), transparent);
    display: grid;
    place-items: center;
}
.about-me img{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    width: 82%;
}
.about-me img:hover{
    transform: rotate(0);
}
.about-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.about-card{
    background-color: #4a4e69;
    border: 1px solid transparent;
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
    display: grid;
    place-items: center;
}
.about-card:hover{
    background: transparent;
    border:2px solid var(--color-primary);
    transition: var(--transition);
}
.about-text{
    padding-top: 2em;
}
.talk-btn{
    padding-top: 2em;
}
.talk-btn button{
    padding: 1em 2em;
    border-radius: .5rem;
} 