.contact-options .contact-option{
    width: 15rem;
    height: 15rem;
}
.contact-options{
    display: grid;
    gap: 1rem;
}
.contact-container{
    display: grid;
    grid-template-columns: 35% 50%;
}