.head-con{
    height: 120vh;
    overflow: hidden;
    padding-top: 5em;
}
.head-btn{
    display: flex;
    gap: 4rem;
    justify-content: center;
    margin-top: 2em;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.head-btn a{
   padding: 1em 2em;
    background-color: #4a4e69;
    border-radius: .5rem;
}
.head-section2{
    display: flex;
    justify-content: space-around;
    padding-top: 5em;
}

.handles{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
}
.handles a{
    color: #4a4e69;
}
.me-con{
    background-color: #4a4e69;
    padding: 2em 1em;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.me-con img{
    width: 80%;
}
/* .me-con::before{
    background-color: var(#ffffff);
    width: 24rem;
    height: 30rem;
} */
.scroll, .handles{
    font-size: 1.2rem;
    padding-top: 6em;
}
.scroll{
    transform: rotate(270deg);
}
