footer{
    height: 30vh;
    display: grid;
    row-gap: 5rem;
    place-items: center;
    border-top: 2px solid #555;
    text-align: center;
}
.footer-handles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.footer-handles a{
    font-size: 4rem;
}
.footer-p{
    display: grid;
    margin: 0 auto;
    text-align: center;
}