footer{
    height: 30vh;
    margin: 0 auto;
    align-items: center;
    display: grid;
    gap: 5rem;
    place-items: center;
    border-top: 2px solid #555;
}
.footer-handles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.footer-handles a{
    font-size: 4rem;
}