.container{
    width: var(--container-width-lg);
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
}
.skill{
    font-size: 4rem;
    display: grid;
    gap: .5rem;
}
.skill h5{
    font-size: 1.4rem;
}
.html .icon{
    color: #e34c26;
}
.react .icon{
    color: #61DBFB;
}

.css .icon{
    color: #264de4;
}
.js .icon{
    color: #F0DB4F;
}
.tailwind .icon{
    color: #b8c2cc;
}
.bootsrap .icon{
    color: #563d7c;
}
.git .icon{
    color: #F1502F;
}
.github .icon{
    color: #171515;
}

@media screen and (max-width:1240px) {
    .about-container{
        grid-template-columns: auto;
        gap: 0;
    }
    .container{
        width: var(--container-width-md);
    }
    .about-me{
        width: 50%;
        margin: 0 auto 4rem;
    }
    .about-text{
        margin: 1rem 0 1.5rem;
    }
}
@media screen and (max-width:600px) {
    .container{
        width: var(--container-width-ms);
    }
    .about-container{
        grid-template-columns: 1fr;
    }
    .about-me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    
    .about-text{
        text-align: center;
    }
    
    
}