
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins:wght@300;400;500;600&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  user-select: none;
}

body {
  color: var(--color-white);
  background-color: var(--color-bg);
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
}

:root{
  --color-bg: #22223b;
  --color-bg-variant: #4a4e69;
  --color-primary: #c9ada7;
  --color-primary-variant: #9a8c98;
  --color-white: #ffffff;
  --color-light: rgba(255,255,255,0.6);
--transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-ms: 90%;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
.container{
  /* width: var(--container-width-ms); */
  margin: 0 auto;
}
section{
  margin-top: 8em;
  height: 100vh;
  overflow: hidden;
}
h1, h2, h3, h4, h5{
  font-weight: 500;
}
h1{
  font-size: 2.5rem;
  text-align: center;
}
section > h2, section>h5{
  text-align: center;
  color: var(--color-light);
}
section>h2{
  color: var(--color-primary);
  margin-bottom: 3rem;
}
.text-light{
  color: var(--color-light);
}
a{
  color: var(--color-white);
  transition: var(--transition);
}
a:hover{
  color: var(--color-primary);
}